
.titulo-principal {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.slogan {
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d;
    /* Color gris Bootstrap */
    margin-bottom: 20px;
}


.carousel-inner img {
    width: auto;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    /* Mantiene proporciones y rellena el contenedor */
    border-radius: 10px;
    /* Opcional: redondear bordes de las imágenes */
}

/* Fondo de relleno opcional para imágenes con espacios */
.carousel-inner {
    background-color: #f8f9fa;
    /* Fondo gris claro */
}

@media (max-width: 1200px) {
    .carousel-inner img {
        max-height: 400px;
        /* Reducimos la altura máxima en pantallas medianas */
    }
}

/* Responsivo: ajustar altura en pantallas más pequeñas */
@media (max-width: 768px) {
    .carousel-inner img {
        height: auto;
        object-fit: contain;
    }
}


@media (max-width: 480px) {
    .carousel-inner img {
        height: 400px;
    }
}

/* Personalización de las leyendas */
.carousel-caption {
    background: rgba(63, 62, 62, 0.5);
    /* Fondo oscuro semitransparente */
    border-radius: 10px;
    position: absolute;
    z-index: 10;
}

/* Personalización de los controles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff8800;
    /* Color de fondo llamativo */
    border-radius: 50%;
    /* Forma redondeada */
    width: 3rem;
    height: 3rem;
}


.hero {
    padding: 2rem;
    background-color: #f8f9fa;
    text-align: center;
}

.hero .highlight {
    font-size: 1.2rem;
    color: #ff8800;
    /* Color llamativo */
    margin-bottom: 1rem;
}

.btn-primary {
    padding: 0.75rem 1.5rem;
    background-color: var(--fondo-boton);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--fondo-boton-hover);

}

.btn-primary a {
    color: white;
    text-decoration: none;
}


.contenido-principal {
    margin-left: 0;
    text-align: center;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    background-color: #fff;
}

.contenido-expandido {
    margin-left: 250px;
    /* Ajustar contenido cuando el menú lateral está visible */
}

.btn-secondary {
    padding: 0.75rem 1.5rem;
    background-color: var(--fondo-boton);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--fondo-boton-hover);
}

.btn-secondary a {
    color: white;
    text-decoration: none;
}

.productos {
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.product-item img {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.product-item p {
    color: #666;
}

.video-section {
    background-color: #f8f9fa;
    /* Fondo claro para diferenciarlo */
    padding: 40px 20px;
}

.video-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    max-width: 900px;
    /* Ancho máximo del video */
    margin: 0 auto;
    /* Centrar el video */
}

.responsive-video {
    width: 100%;
    /* Ajustar el ancho del video al contenedor */
    height: auto;
    /* Mantener proporción */
    border-radius: 10px;
    /* Bordes redondeados para diseño */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra elegante */
}

.promociones .card {
    border-radius: 15px;
    /* Bordes redondeados */
    transition: transform 0.3s, box-shadow 0.3s;
}

.promociones .card:hover {
    transform: translateY(-5px);
    /* Efecto al pasar el mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra más intensa */
}

.promociones .btn {
    border-radius: 20px;
    /* Botón redondeado */
    text-transform: uppercase;
    background-color: #ff8800;
    color: white;

}

.promociones h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.promociones .card-title {
    font-size: 1.25rem;
}




.container-banner {
    width: 100%;
    height: 400px;
}

.container-banner img {
    border-radius: 25px;
}

.categoria-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}

.categoria-card {
    background-color: #dddcdcde;
    border-radius: 15px;
    padding: 15px;
    width: auto;
}

.categoria-card:hover {
    background-color: #1c35f3de;
}

.categoria-card p {
    text-align: center;
    margin: 0px;
    overflow-x: auto;
    text-wrap: unset;
}