:root{
    --color-fondo-principal: #136728;
    --color-fondo-secundario: #0337bb;
    --font-principal: 'Poppins', sans-serif;
    --font-family: 'Poppins', sans-serif;
    --fondo-boton: #4bb223;
    --fondo-boton-hover: #0b6433;
    
}

